# Python cache
__pycache__/
*.py[cod]

# Flask instance folder (used for configs, dev dbs)
instance/

# SQLite or dev DBs
*.db
*.sqlite3
*.sqlite3-*

# Flask-Migrate folder
migrations/

# Virtual environments
venv/
.venv/

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# Mac junk files
.DS_Store
