[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-login = "*"
python-dotenv = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
faker = "*"
flask-serialize = "*"

[dev-packages]

[requires]
python_version = "3.12"
